/* body ------------------------------------------------------------------------------- */
body {
    box-sizing: border-box;
    margin: 0;
}
/* wrap ------------------------------------------------------------------------------- */
.wrap {
    display: flex;
    height: 100vh;
}
/* container ------------------------------------------------------------------------------- */
.container {
    background-color: #ff0000;
    width: 75%;
}
/* header ------------------------------------------------------------------------------- */
.header {
    background-color: #ffbb00;
    height: 103px;
}
/* navbar ------------------------------------------------------------------------------- */
.navbar {
    background-color: #d0ff00;
    width: 25%;
}
/* content ------------------------------------------------------------------------------- */
.content {
    background-color: #04ff00;
    height: 750px;
}
/* footer ------------------------------------------------------------------------------- */
.footer {
    background-color: #00c8ff;
    height: 62px;
}